{% extends 'layout.twig' %}

{% block breakcrumb %}{% endblock %}

{% block content %}
  
  {% for post in posts %}
    {% if post.title %}
      <h1 id="page-title">
        {{ post.title }}
      </h1>
    {% endif %}
    {% if not function('is_page') %}
      <h3 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
    {% endif %}
    {{ post.content }}
  {% endfor %}

  {% if function('comments_open') %}
  {% include 'comments.twig' %}
  {{ function('comment_form') }}
  {% endif %}
{% endblock %}